:root{
  --color-wYellow:#FBF8CC;
  --color-dBlue: #03045E;
  --color-Yellow: #F5EE84;
  --color-dBrown: #474306;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul, ul li {
	list-style: none;
}
a, a:link, a:visited  {
    text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color:var(--color-wYellow);
  color: var(--color-dBlue);
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
.card__grid {
  display: grid;
  padding-top: 100px;
  grid-template-columns: repeat(2,1fr);
  gap: 100px;
  justify-items: center;
}
img{
  max-width: 100%;
  min-width: 500px;
  max-height: 500px;
  border-radius: 50%;
}
.item__grid {
  justify-items: center;
}
.text__h6 {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.text__h1 {
  margin: 10px 0;
  font-size: 80px;
  font-weight: 800;
  line-height: 56px;
  max-width:  616px;
}
.h1{
  color: var(--color-Yellow);
  font-size: 100px;
  font-weight: 800;
  line-height: 116px;
}
span{
  font-size: 55px;
}
.text__h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}

.btn {
  color: var(--color-dBrown);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 35px;
  border: 1px var(--color-dBrown) solid;
  border-radius:10px;
  background:transparent;
  transition: all 0.8s ;
}
.btn:hover {
  background-color:var(--color-Yellow) ;
}
.contacts {
  align-self: center;
  text-align: center;
}
.icon {

  color: #000;
  font-size: 44px;
  border: 2px var(--color-wYellow) solid;
  transition: all 1s ;
}
.icon:hover {
  padding: 0px;
  border: 2px var(--color-Yellow) solid;
  border-radius: 50%;
}

.about {
  padding-top: 100px;
}
.about__h1 {
  color: var(--color-Yellow);
  font-size: 100px;
  font-weight: 800;
  line-height: 116px;
  margin-bottom: 30px;
}
.about__p {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
.span{
  font-size: 24px;
  font-weight: 600;
  color: var(--color-dBlue);
}
.about__ul {
  padding: 15px 0;
  padding-left: 40px;
  font-size: 24px;
  font-weight: normal;
}
.work {
  padding: 50px 0 50px;
  margin-left: 150px;
  min-width: 600px;
}
.work__ul{
  padding-left: 45px;
}
.p_foot{
  color: var(--color-Yellow);
  font-size: 40px;
  font-weight: 800;
}


@media screen and (max-width: 1280px){
  .container{
    padding: 0 20px;
  }
  img{
    max-width: 100%;
  }
  .header{
    width: 100%;
  }
  .about{
    min-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .card__grid {
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    padding: 0;
  }
  .card__about{
    margin: 0 auto;
    min-width: 600px;
  }
  .item__grid{
    justify-items: center; 
    padding: 0 10px;
  } 
  .about{
    text-align: center;
  }
  .btn{
    margin-left:220px ;
  }
  .work {
    max-width: 560px;
    margin: 0 auto;
  }
}